<app-navbar></app-navbar>

<div class="contenedor">
    <div class="contenedor-principal">
        <div class="contacto-div-contenedor">
            <h1 class="h1-style">Contact Us</h1>
            <p class="p-style">Necesitas contactarte con nosotros? Completa este formulario e informanos cual es tu duda y nosotros te la responderemos a la brevedad. AutosRosario & Co</p>
        </div>
        <div class="border-contenedor-form">
            <form>
                <div class="form-style">
                    <div>
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div>
                        <label for="exampleInputPassword1" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>

                <div>
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div>
                    <label for="message" class="form-label">Mensaje</label>
                    <br>
                     <textarea class="form-control" id="message" name="message"></textarea>
                </div>
                <div class="boton-formulario">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="algo-random-for-design-contact">
    <div class="d-flex justify-content-center">
        <p class="style-autos-p">AutosRosario & Co</p>
    </div>
</div>
