<app-navbar></app-navbar>

<div class="contenedor">
  <div class="contenedor-principal">
    <div class="contacto-div-contenedor">
      <h1 class="h1-style">Contact Us</h1>
      <p class="p-style">Necesitas contactarte con nosotros? Completa este formulario e infórmanos cuál es tu duda y nosotros te la responderemos a la brevedad. AutosRosario & Co</p>
    </div>
    <div class="border-contenedor-form">
      <form (ngSubmit)="onSubmit()" #contactoForm="ngForm">
        <div class="form-style">
          <div>
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" name="name" required>
          </div>
          <div>
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="contact.apellido" name="apellido" required>
          </div>
        </div>
        <div>
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="contact.email" name="email" required>
        </div>
        <div>
          <label for="message" class="form-label">Mensaje</label>
          <br>
          <textarea class="form-control" id="message" name="message" [(ngModel)]="contact.message" required></textarea>
        </div>
        <div class="boton-formulario">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="algo-random-for-design-contact">
  <div class="d-flex justify-content-center">
    <p class="style-autos-p">AutosRosario & Co</p>
  </div>
</div>