.contenedor{
    margin-top: 10%;
}

.contenedor-principal{
    display: flex;
    justify-content: space-evenly;

}

.form-style{
    display: flex;
    gap: 20px;
}

.border-contenedor-form{
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
}

.form-control{
    padding: 10px;
    background-color: aliceblue;
}

.form-label{
    font-family: 'Poppins', sans-serif;

}

.contacto-div-contenedor{
    width: 40%;
}

.boton-formulario{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.boton-formulario, button{
    font-family: 'Poppins', sans-serif;
}

.h1-style{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.p-style{
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
}


.algo-random-for-design-contact{
    width: 100%;
    padding: 30px;
    background-color: #004AAD;
    position: absolute;
    bottom: 0;
}


.style-autos-p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
}



/* RESPONSIVE */


@media (min-width: 768px) and (max-width: 991px) {
    .contenedor{
        margin-top: 2%;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        
    }
    .contacto-div-contenedor{
        width: 70%;
        margin: 0 auto;
    }
    .p-style{
        padding-top: 25px;
        text-align: center;
    }
    .h1-style{
        text-align: center;
    }
    .border-contenedor-form{
        width: 70%;
        margin: 0 auto;
    }
    .form-style{
        display: block;

    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .contenedor{
        margin-top: 0%;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        
    }
    .contacto-div-contenedor{
        width: 70%;
        margin: 0 auto;
    }
    .p-style{
        padding-top: 25px;
        text-align: center;
        font-size: 13px;
    }
    .h1-style{
        text-align: center;
        font-size: 40px;
    }
    .border-contenedor-form{
        width: 70%;
        margin: 0 auto;
    }
    .form-style{
        display: block;

    }
}


@media (min-width: 250px) and (max-width: 575px){
    .contenedor{
        margin-top: 0%;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        
    }
    .contacto-div-contenedor{
        width: 90%;
        margin: 0 auto;
    }
    .p-style{
        padding-top: 15px;
        text-align: center;
        font-size: 12px;
    }
    .h1-style{
        text-align: center;
        font-size: 38px;
    }
    .border-contenedor-form{
        width: 70%;
        margin: 0 auto;
    }
    .form-style{
        display: block;

    }
}
