  <app-navbar></app-navbar>
  <div class="contenedor-entero-vehiculos">
    <div class="texto-box">
      <h1 class="estilo-letra-h1">Encontra tu proximo auto</h1>
      <h5 class="estilo-letra-h5">Tenemos los mejores Vehiculos para su elección</h5>
    </div>
    <div class="div-visibility">
      <img class="size-img" src="../../assets/image-removebg-preview (15).png" alt="">
    </div>
    <div class="div-ver_mas">
        <a href="#concecionario"><p class="ver_mas-style">Ver mas  <i class="bi bi-arrow-down"></i></p></a>
    </div>
  </div>

  <div class="container overflow-hidden text-center" id="concecionario">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        <img class="img-concecionaria" src="../../assets/concecionaria-imagen.jpg" alt="img-concecionaria">
      </div>
      </div>
      <div class="col">
        <div class="p-3">
          <h5 class="titulo-h5">AutosRosario && Co.</h5>
          <p class="p-style">Somos un Concecionario con una variedad de vehiculos para su preferencia.</p>
          <button class="btn btn-primary">Ver mas</button>
        </div>
      </div>
    </div>
  </div>



  <div class="seccion-3">
    <h5 class="h5-style-seccion3">Contactanos.</h5>
    <div class="d-flex justify-content-between contenedor-seccion3">
      <div class="div-block">
        <i class="bi bi-chat-left-text-fill size"></i>
        <p class="p-style-div">Agendá tu Cita</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
      <div class="div-block">
        <i class="bi bi-pencil-square size"></i>
        <p class="p-style-div">Solicitá Información</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
      <div class="div-block">
        <i class="bi bi-person-square size"></i>
        <p class="p-style-div">Solicitá una Cotización</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
    </div>
</div>
<app-footer></app-footer>