  <app-navbar></app-navbar>
  <div class="contenedor-entero-vehiculos">
    <div class="contenedor-textos">
      <a href="/autos">
        <button class="button-search">¿Quieres Enviarnos una búsqueda?</button>
      </a>
    </div>
  </div>
  <div class="contenedor-contenidos">
    <div>
      <img class="img-concecionaria" src="../../assets/concecionaria-imagen.jpg" alt="img-concecionaria">
    </div>

    <div>

      <h5 class="titulo-h5">AutosRosario & Co</h5>
      <p class="p-style">Somos un Concecionario con una variedad de vehiculos para su preferencia.</p>
      <a href="/autos">
        <button class="btn btn-primary">Ver mas</button>
      </a>
    </div>
  </div>
  <div class="seccion-3">
    <h5 class="h5-style-seccion3">Contactanos.</h5>
    <div class="d-flex justify-content-between contenedor-seccion3">
      <div class="div-block">
        <i class="bi bi-chat-left-text-fill size"></i>
        <p class="p-style-div">Agendá tu Cita de Servicio</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
      <div class="div-block">
        <i class="bi bi-pencil-square size"></i>
        <p class="p-style-div">Solicitá Información</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
      <div class="div-block">
        <i class="bi bi-person-square size"></i>
        <p class="p-style-div">Solicitá una Cotización</p>
        <a href="/contacto">
          <button class="button-style">Busca Ahora</button>
        </a>
      </div>
    </div>
</div>
<app-footer></app-footer>