.contenedor{
    margin: 3% auto;
    width: 65%;
    background-color: #feffff;
    border: 1px solid #84b6f4;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 16px #c4dafa;
    display: flex;
    justify-content: space-evenly;
}



.imagen-style{
    width: 700px;
    border-radius: 20px;
}



h5{

    font-family: 'Poppins', sans-serif;
    color: #4d82bc;

}
p{
    font-family: 'Poppins', sans-serif;
}
.info-other{
    padding-top: 10px;
}

.div-precio_info{
    padding-top: 25px;
}

span{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #005187;
}

.other-info-abajo_imagen{
    padding-top: 30px;
}

.contenedor-info_abajoImagen{
    padding-top: 20px;
}

.contenido-contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.div-imagenes_complementarias{
    padding-top: 20px;
    display: flex;
    justify-content: left;
}

.size-imagen_complementaria{
    width: 130px;

}




  
  /* Estilo para las miniaturas de imágenes */
  .thumbnail {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Ajusta la altura según sea necesario */
    cursor: pointer; /* Indica que es cliclable */
    border-radius: 10px;
    margin-right: 10px;
  }
  
  /* Estilo para las imágenes dentro del lightbox */
  .lb-image {
    max-width: 100%; /* Imagen dentro del lightbox con ancho máximo */
    max-height: 100%; /* Imagen dentro del lightbox con altura máxima */
  }
  
  .lb-backdrop {
    background-color: rgba(0, 0, 0, 0.85); /* Fondo del lightbox con color y opacidad */
  }

@media (min-width: 1200px) and (max-width: 1599px) {
    .contenedor{
        width: 75%;
    }
    .imagen-style{
        width: 550px;
    }
    .thumbnail{
        width: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contenido-contacto{
        gap: 9px;
    }
    h5{
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }
    span{
        font-size: 14px;
    }
    .div-precio_info{
        padding-top: 7px;
    }
    .contenedor{
        width: 67%;
    }
    .imagen-style{
        width: 445px;
    }
    .div-imagenes_complementarias{
        padding-top: 57px;
        display: flex;
        justify-content: left;
    }
    .thumbnail{
        width: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .div-imagen{
        width: 80%;
        margin: 0 auto;
    }
    .container-informacion{
        width: 80%;
        margin: 0 auto;
    }
    .contenedor{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .imagen-style{
        width: 100%;
        height: auto;
    }
    .div-imagenes_complementarias{
        display: flex;
        justify-content: left;
    }
    .thumbnail{
        width: 55px;
    }
    

}

@media (min-width: 576px) and (max-width: 767px) {
    .contenedor{
        width: 65%;
        display: flex;
        flex-direction: column;
    }
    .imagen-style{
        width: 100%;
        height: auto;
    }
    .div-precio_info{
        padding-top: 10px;
    }
    .div-imagenes_complementarias{
        display: flex;
        justify-content: left;
    }
    .thumbnail{
        width: 40px;
    }
}


@media (min-width: 461px) and (max-width: 575px){
    .div-imagen{
        width: 80%;
        margin: 0 auto;
    }
    .container-informacion{
        width: 80%;
        margin: 0 auto;
    }
    .contenedor{
        width: 93%;
        display: flex;
        flex-direction: column;
    }
    .imagen-style{
        width: 100%;
        height: auto;
    }
    .div-imagenes_complementarias{
        display: flex;
        justify-content: left;
    }
    .thumbnail{
        width: 38px;
    }
    .div-precio_info{
        padding-top: 10px;
    }
}

@media (min-width: 331px) and (max-width: 460px){
    .contenedor{
        width: 93%;
        display: flex;
        flex-direction: column;
    }
    p{
        font-size: 14px;
    }
    span{
        font-size: 15px;
    }
    .imagen-style{
        width: 100%;
        height: auto;
    }
    .div-imagenes_complementarias{
        display: flex;
        justify-content: center;
      
    }
    .thumbnail{
        width: 50px;
    }
    .div-precio_info{
        padding-top: 10px;
    }
}
    @media (min-width: 250px) and (max-width: 330px){
        .div-imagen{
            width: 85%;
            margin: 0 auto;
        }
        .container-informacion{
            width: 80%;
            margin: 0 auto;
        }
        .contenedor{
            width: 93%;
            display: flex;
            flex-direction: column;
        }
        .imagen-style{
            width: 100%;
            height: auto;
        }
        .div-imagenes_complementarias{
            display: flex;
            justify-content: left;
        }
        .thumbnail{
            width: 35px;
        }
        .div-precio_info{
            padding-top: 10px;
        }
        .other-info-abajo_imagen{
            padding-top: 10px;
        }
        p{
            font-size: 14px;
        }
        span{
            font-size: 15px;
        }
}