<div class="contenedor">
    <div class="navbar">
        <a routerLink="vista_Admin"><h6>Panel de Administrador</h6></a>
        
        <div class="content-navbar">

            <div class="contenido-boton-sin">
                <a routerLink="/vista_viewAll">
                    <i class="bi bi-file-spreadsheet-fill style-icon">  Tablas de Vehiculos</i>
                </a>
            </div>
            <div class="contenido-boton-sin">
                <a href="/vista_create_vehicle">
                    <i class="bi bi-car-front-fill style-icon">  Register Car</i>
                </a>
            </div>
            <div class="contenido-boton-sin">
                <a href="/registrar_ventas">
                    <i class="bi bi-check2-square style-icon">  Register Ventas</i>
                </a>
            </div>
            <div class="contenedor-despacho">
                <h6>
                    Account
                </h6>
                <div class="contenido-botones-perfiles">
                    <div class="contenido-boton-sin">
                        <a href="">
                            <i class="bi bi-dash-square style-icon">  Sign Out</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenido_contenedor">
        <div class="contendor-informacion-admin">
            <div class="user-login-panel">
                <p class="p-style-admin">Bienvenido User :  {{usuario.email}} </p>
            </div>
        </div>
        <div class="content-principal">
            <h3>Contenido Principal</h3>
        </div>

        <div class="contenedor-contenido">
            <h5>Aqui se veran tus estadisticas en los ultimos meses... (En progreso) </h5>
        </div>
    </div>
</div>