<h1>bienvenido al login</h1>
<div>
    <form (ngSubmit)="onSubmit(params)" #params="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="username" name="username" ngModel class="form-control" id="username" aria-describedby="emailHelp">
    
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="text" name="password" ngModel class="form-control" id="password">
        </div>
    
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>